* {
    box-sizing: border-box;
}

body {
    background: url(../../assets/images/vegas.jpeg);
    opacity: 80%;
}

.header {
    width: 100%;
    display: flex;
    background-color: lightblue;
    opacity: 80%;


    &__title {
        font-size: 1.4rem;
        align-items: left;
        color: black;
        // width: 80%;
    }
}